a.transaction__link:hover {
  text-decoration: none;
}

.transaction__name span {
  font-size: 14px;
  color: #7a7886;
}

.font-weight-bold {
  color: #4d4b57;
}

.transaction__history h5 {
  color: #7a7886;
  font-size: 16px;
}

.transaction__history h6 {
  color: #4d4b57;
}

.transaction__user {
  box-shadow: #00000033 2px 0 15px;
  padding: 10px;
  border-radius: 10px;
}

.transaction__user figure {
  margin: 0;
}

.transaction__p {
  padding: 30px 450px 20px 20px;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}

.input__amount {
  width: 100%;
  padding: 0 20%;
}

.input__value {
  padding: 10%;
  font-size: 42px;
  border: none;
  text-align: center;
  font-weight: bold;
}

.input__value:focus {
  box-shadow: none;
  color: #6379f4;
  transition: 0.5s;
}

.input__notes {
  font-size: 16px;
  border: none;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  border-radius: 0;
}

.input__notes:focus {
  box-shadow: none;
}

.input__amount p {
  font-size: 16px;
  font-weight: bold;
}
